<div th:replace="layout :: layout(~{::content})">
    <div th:fragment="content">
        <!-- Header -->
        <div>
            <h1>Liste des utilisateurs</h1>
            <a href="/">Retour à l'accueil</a>
        </div>

        <!-- Tableau des utilisateurs -->
        <div>
            <div>
                <h5>Tous les utilisateurs</h5>
            </div>
            <div th:if="${#lists.isEmpty(users)}">
                <p>Aucun utilisateur trouvé</p>
            </div>
            <div th:if="${!#lists.isEmpty(users)}">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom d'utilisateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
